.Inicio {
    background-color: white;
    width: 300px;
    margin: 20px;
    height: auto;
    color: black;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 20px 2px rgb(107, 105, 105);
    .contador{
        display: flex;
        flex-flow: row wrap;
    }
    p{
        color: black;
    }
}



.contadorContainerS {
    background-color: green;
    width: 300px;
    margin: 20px;
    height: auto;
    color: black;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 20px 2px rgb(107, 105, 105);
    .contador{
        display: flex;
        flex-flow: row wrap;
    }
    p{
        color: black;
    }
}

.contadorContainerR {
    background-color: red;
    width: 300px;
    margin: 20px;
    height: auto;
    color: white;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 20px 2px rgb(107, 105, 105);
    .contador{
        display: flex;
        flex-flow: row wrap;
    }
    p{
        color: white;
    }
}