
.loguerContainer{
    margin-top: 2%;
    border-radius: 1%;
    width: 90%;
    height: 60%;
    background-color: beige;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 40px;
    }
    p{
        font-size: 25px;
    }
    .user{
        margin: 2%;
    }
    .pass{
        margin: 4%;
    }
}

.logout{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    h2{
        width: 100%;
        font-size: 40px;
        margin: 1%;
        border-bottom: solid gray 1px;
    }
    p{
        margin: 3% 0 3% 0;
    }
}