
.productoContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    .card{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 1%;
        background-color: rgb(0, 0, 0, 0.25);
        border-radius: 10px;
        box-shadow: 5px 5px 20px 0px rgb(107, 105, 105);
        border: 2px solid rgb(64, 131, 175);
        width: auto;
        height: auto;
        margin: 20px;
        .css-ke5b6m-MuiButtonBase-root-MuiButton-root {
            background-color: rgb(19, 107, 95);
            border: solid white 1px;
        }
        img{
            margin-bottom: 10%;
            border-radius: 2%;
        }
        p{
            color: white;
            text-align: center;
            strong{
                border-top: solid 2px rgb(50, 223, 223) ;
                font-size: 20px;
            }
        }
        h3{
            margin: 10% 0 10% 0;
            color: white;
            font-size: 20px;
        }
    }

    .card:hover{
        background-image: linear-gradient(to bottom left, rgba(138, 138, 187) 10%,  rgb(134, 120, 150) 60%);
        // background-color: rgba(18, 102, 15, 0.5) ;
        cursor: pointer;
        box-shadow: 5px 5px 20px 10px rgb(107, 105, 105);

        .css-ke5b6m-MuiButtonBase-root-MuiButton-root:hover{
            background-color: rgb(20, 50, 105);
        }
    }

}

