.columnasContainer{
    text-align: center;
    display:flex;
    flex-flow: column wrap;
    height: 70px;
    color: black;
    padding: 2% 5% 2% 2%;
    border-bottom: solid 1px rgb(138, 138, 138);
    .descripcion{
        color: black;
        width: 40%;
    }
    .cantidad{
        width: 5%;
        margin-left: 10%;
    }

}

.cartContainer{
    width: 90%;
    height: 100%;
    border-radius: 1%;
    background-color: beige;
    margin-top: 3%;
    font-size: 17px;
    .productoContainer{
        text-align: center;
        height: auto;
        display:flex;
        flex-flow: column wrap;
        justify-content: center;
        height: 70px;
        color: black;
        padding: 1% 5% 1% 1%;
        border-bottom: solid 1px rgb(138, 138, 138);
        .descripcion{
            width: 40%;
        }
        .cantidad{
            width: 5%;
            margin-left: 10%;
        }

    }
    .productoContainer:hover{
        background-color:rgb(169, 169, 204);
    }
}

.filaTotales{
    margin-top: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    p{
        font-size: larger;
        font-weight:bold;
        padding: 2%;
    }
}

#comprar{
    background-color: rgb(46, 185, 33);
}

.botonCompra{
    display: block;
    padding: 2%;
    width: 100%;
    text-align: right ;
}
