@font-face {
    font-family: "saira";
    src: url(./assets/fonts/SairaCondensed-Light.ttf);
} 

@font-face {
    font-family: "sairaBold";
    src: url(./assets/fonts/SairaCondensed-Bold.ttf);
} 

*{
    font-family: "saira";
}

body{
    height: 1500px;
    background-image: linear-gradient( rgb(50, 223, 223) 5%, rgb(33, 40, 138) 95%);
}