@font-face {
    font-family: "saira";
    src: url(./assets/fonts/SairaCondensed-Light.ttf);
} 

@font-face {
    font-family: "sairaBold";
    src: url(./assets/fonts/SairaCondensed-Bold.ttf);
} 

*{
    font-family: "saira";
}

p {
    color: white;
    text-align: center;
    font-size: 30px;
}